---
import {
  House,
  Compass,
  LayoutPanelLeft,
  SquarePlus,
  Bell,
  MessageCircleMore,
  Settings,
} from "lucide-react";
import "../styles/global.css";
import { Avatar } from "@/components/ui/avatar";
/*const lista = [
  {
    url: "https://i.pinimg.com/736x/df/df/b5/dfdfb57bd8f4c3ac86819072f78c309b.jpg",
  },
];*/

const response = await fetch("http://localhost:4321/api/fotos");
const data = await response.json();
const fotos = data.fotos;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Pagina Clone</title>
</head>
<body>
  <div class="flex">
    <!--barra lateral-->
    <nav class="flex flex-col basis-60 justify-between h-screen items-center">
      <div class="logo">
        <img
          class=""
          src="https://images.ctfassets.net/h67z7i6sbjau/5zteWRcC1qbgLZoClcMmYl/a0391fdc321eddce7de41152108723b5/Brand_Guidelines_hero_2x.jpg?fm=webp&q=85"
          alt="Logo"
        />
      </div>

      <div class="grid grid-flow-row gap-8 ">
        <House />
        <Compass />
        <LayoutPanelLeft />
        <SquarePlus />
        <Bell />
        <MessageCircleMore />
      </div>

      <div class="configuracoes">
        <Settings />
      </div>
    </nav>
    <!--conteudo-->
    <div class="">
        <!--barra de pesquisa perfil-->
        <div>
          <div class="flex">
            <div class="m-6 grow flex-1">
              <input
                class="bg-zinc-100 rounded-md w-360 h-10"
                placeholder="Pesquisa"
                type="text"
              />
            </div>
            <div class="perfil m-6">
              <Avatar className="w-12 h-12" />
            </div>
          </div>

          <!--sugestoes-->
          <div>
            <ul class="flex ml-6 gap-4 text-lg font-bold justify-between">
              <li>Todos</li>
              <li>Decoração</li>
              <li>Maquiagem</li>
              <li>Lontras fofinhas</li>
              <li>Pintura</li>
              <li>Parede</li>
              <li>Quadrinhos</li>
              <li>Origami</li>
              <li>Natal</li>
              <li>Decoração</li>
            </ul>
          </div>
        </div>

        <!--fotos-->
        <div>
          <ul class="grid grid-cols-5 grid-flow-row-dense gap-2 m-6">
            {
              fotos.map((foto) => (
                <li class="">
                  <a href="/foto">
                    <img class="rounded-lg" src={foto.url} />
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
    </div>
  </div>
</body>
